body{
    background-color: rgb(7, 5, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    display: flex;
    border-bottom: 2px solid rgb(144, 144, 144);
    justify-content: center;
}

.inicio{
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    margin: 15px;
}
.buenos-dias{
    width: 90px;
}
.imagen-oso{
    display: flex;
    align-items: end;
    
}
.presentacion{
    margin-top: 50px;
    text-align: center;
    border-bottom: 1px solid white;
}
p{
    color: white;
    font-family: cursive;
}
.pdf{
    border: 1px solid white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.pdf>a>img{
    width: 50px;
}
.osos-pdf{
    width: 70px;
}
.container-pie{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


button {
    margin-top: 20px;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

button > a{
    text-decoration: none;
    color: aliceblue;
    font-family: cursive;
    text-transform: uppercase;
}
#sentimiento{
    margin-top: 100px;
}
.boton-whatsapp {
    margin: 40px;
    margin-top: 150px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(109, 109, 255);
    font-family: cursive;
}